extends template
block content
    //
       Start page header 
    section.section-page-header
      .container
        .row
          .span12
            .page-header
              h4 - ABOUT DEVNOLOGY - 
        img(src='/img/divider_shadow.png', title='', alt='')
    //
       End page header 
    //
       Start about us 
    section.about-us
      .container
        .row
          .span8
            h4 Our Mission
            p
              | Devnology aims to provide the Dutch software development community with opportunities to exchange knowledge and experience. We aim to bridge the gap between theory and practice of software development. To fullfill this mission we aim to bring together a group of developers on a regular basis. On these meetings we want to explore new and exciting technologies, as well as exchange experience with existing technologies. We will generally not focus on a single platform or language, but rather explore the differences between these and look at general concepts of software engineering. We will sometimes invite experts, but more often we'll try to learn from each other. The Devnology meetings are for developers who are passionate about software development and want to gain and exchange knowledge and experience.
          .span4
            .well.info-box
              h4 We Are Hiring !
              p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.
              p
                a.btn.btn-success(href='#')
                  i.icon-hand-right.icon-white
                  | Apply Now
          .span12
            hr
            h4 Board
            p
              | 
            .row.member-container
              .span3.team-member
                .img-polaroid
                  img(src='/img/people/Freek.jpg')
                h5
                  | Freek Leemhuis
                  small Chairman
                hr
                p
                  | Freek Leemhuis is an independant consultant and develops software in roles as  developer, designer and architect. He is passionate about quality in software development and is interested in approaches such as Domain Driven Design and Agile practices. His site is on http://outerjoins.com and he sometimes blogs on http://freekleemhuis.com/. Contact freek through freek@devnology.nl or via twitter: @freekl
              .span3.team-member
                .img-polaroid
                  img(src='/img/people/PJ.jpg')
                h5
                  | Pieter Joost van der Sande
                  small Vice Chairman
                hr
                p
                  | Pieter Joost is a consultant with Atos and specializes in software architecture, usually applying Domain Driven Design. Apart from programming he is passionate about sharing knowledge and is a regular speaker on events, schools and corporate gatherings. For his contribution to the .NET community he has received the Microsoft C# MVP award in 2007, 2008 en 2009. You can find his blog on http://www.born2code.net/. PJ's email address is pieterjoost@devnology.nl, you'll find him on twitter via @pjvds
                .block_general_social_1
              .span3.team-member
                .img-polaroid
                  img(src='/img/people/Arne.jpg')
                h5
                  | Arne Timmerman
                  small Secretary
                hr
                p
                  | Arne is a software engineer working at Finalist. He is a Java software developer, proponent of Agile practices and passionate about all aspects of a software process. It is his personal goal to face the 'software challenge' of making software that has great value for customers, by focusing on lean principles and a domain-driven approach on designing software. Contact Arne via e-mail arne@devnology.nl or on twitter @arnetim
                .block_general_social_1
              .span3.team-member
                .img-polaroid
                  img(src='/img/people/Felienne.jpg')
                h5
                  | Felienne Hermans
                  small General Board Member
                hr
                p
                  | Felienne is a PhD student and an entrepreneur in the field of spreadsheets. She is passionate about supporting spreadsheet developers with technology similar to software developers, like visualization, debugging and metrics. In 2010 Felienne founded Infotron, a start up that uses the algorithms developed during the PhD project to analyze spreadsheet quality for large companies. In her spare time, Felienne volunteers as a judge for the First Lego League. She can be contacted through felienne@devnology.nl and on twitter through @felienne
       End about us 