body
    //

       Start header 
    header.header
      .container
        .navbar
          .navbar-inner
            .brand-wrapper
              a.brand(href='index.html')
                img(src='/img/devnology.png', alt='', width='350px', heigth='79px')
            ul.nav
              li.active
                a(href='/home')
                  | Home
              li.dropdown
                a(href='/events')
                  | Events
              li.dropdown
                a(href='/podcast')
                  | Podcasts
              li.dropdown
                a(href='/sponsors')
                  | Sponsors
              li.dropdown
                a(href='/blog')
                  | Blog
              li.dropdown
                a(href='/about')
                  | About