html
    head
      title Devnology - Community Driven Development
      block scripts
        scripts(src='/jquery.js;)
    body
      include contentheader
      block content
      include contentfooter
        #footer
          p some footer content
      