!!! 5
html(lang='en')
head
    //
       Basic Needs 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Rounde - Responsive HTML5 Template
    //
       Fonts 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,800', rel='stylesheet', type='text/css')
    //
       CSS Stylesheets 
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/prettyPhoto.css', rel='stylesheet')
    //
       Favicon Icon 
    link(rel='shortcut icon', href='ico/favicon.png')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    //
       Start header 
    header.header
      .container
        .navbar
          .navbar-inner
            .brand-wrapper
              a.brand(href='index.html')
                i.icon-check-empty
                | ROUN
                span DE
            ul.nav
              li.active
                a(href='index.html') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Templates
                  b.caret
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(tabindex='-1', href='#') About Us
                    ul.dropdown-menu
                      li
                        a(tabindex='-1', href='about_1.html') About Us - Layout 1
                      li
                        a(tabindex='-1', href='about_2.html') About Us - Layout 2
                      li
                        a(tabindex='-1', href='about_3.html') About Us - Layout 3
                  li
                    a(tabindex='-1', href='http-404.html') HTTP 404
                  li
                    a(tabindex='-1', href='faqs.html') FAQs
                  li
                    a(tabindex='-1', href='prizing_tables.html') Prizing Tables
                  li
                    a(tabindex='-1', href='contact.html') Contact Us
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Portfolio
                  b.caret
                ul.dropdown-menu
                  li.dropdown-submenu
                    a(tabindex='-1', href='classic_3_columns.html') Classic Portfolio
                    ul.dropdown-menu
                      li
                        a(tabindex='-1', href='classic_2_columns.html') Classic 2 Columns
                      li
                        a(tabindex='-1', href='classic_3_columns.html') Classic 3 Columns
                      li
                        a(tabindex='-1', href='classic_4_columns.html') Classic 4 Columns
                  li.dropdown-submenu
                    a(tabindex='-1', href='filterable_3_columns.html') Filterable Portfolio
                    ul.dropdown-menu
                      li
                        a(tabindex='-1', href='filterable_2_columns.html') Filterable 2 Columns
                      li
                        a(tabindex='-1', href='filterable_3_columns.html') Filterable 3 Columns
                      li
                        a(tabindex='-1', href='filterable_4_columns.html') Filterable 4 Columns
                  li.divider
                  li
                    a(href='portfolio.html') Single Project
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Blog
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='blog_1.html') Homepage - Layout 1
                  li
                    a(href='blog_2.html') Homepage - Layout 2
                  li.divider
                  li
                    a(href='post.html') Single Post
              li
                a(href='contact.html') Contact
    //
       End header 
    //
       Start welcome-message 
    section.welcome-message
      .container
        .hero-unit
          h4
            | Welcome ! We provide Clean and Simple design.
            br
            small This intro text can be modified and is a good way to say hello to the visitors.
    //
       End welcome-message 
    //
       Start slider 
    section.slider
      .container
        .well
          #myCarousel.carousel.slide
            .carousel-inner
              .active.item
                img(src='images/slides/slide_1.jpg')
                .carousel-caption.animation
                  h3.caption-black(data-animate='fadeInDownBig') Simple and Clean Design
                  p.caption-black-small(data-animate='fadeInRightBig') Sed posuere consectetur est at lobortis.
              .item
                img(src='images/slides/slide_2.jpg')
                .carousel-caption.animation
                  h3.caption-white(data-animate='fadeInLeftBig') Fully Responsive Layout
                  p.caption-white-small(data-animate='fadeInRightBig') Sed posuere consectetur est at lobortis.
              .item
                img(src='images/slides/slide_3.jpg')
                .carousel-caption.animation
                  h3.caption-black(data-animate='rotateIn') HTML5 and CSS3 Technology
                  p.caption-black-small(data-animate='rollIn') Sed posuere consectetur est at lobortis.
            //
               Carousel nav 
            a.carousel-control.left(href='#myCarousel', data-slide='prev')
              i.icon-chevron-left
            a.carousel-control.right(href='#myCarousel', data-slide='next')
              i.icon-chevron-right
    //
       End slider 
    //
       Start services 
    section.services
      .container
        .row
          .span3
            .well.well-small
              span.service-icon
                i.icon-resize-full
              h5 Responsive Layout
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.
              a.btn.btn-mini(href='#') Read More
          .span3
            .well.well-small
              span.service-icon
                i.icon-list
              h5 Flexible Grid System
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.
              a.btn.btn-mini(href='#') Read More
          .span3
            .well.well-small
              span.service-icon
                i.icon-th
              h5 Powerful Portfolio
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.
              a.btn.btn-mini(href='#') Read More
          .span3
            .well.well-small
              span.service-icon
                i.icon-ok
              h5 IE Support
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam vehicula ut id elit.
              a.btn.btn-mini(href='#') Read More
    //
       End services 
    //
       Start portfolio 
    section.portfolio
      .container
        hr.divider-home
        .row
          .span3
            .section-overview
              h5
                span
                  i.icon-minus
                | Featured Works
              hr
              p
                | Etiam auctor tincidunt augue at pharetra. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae.
              a.btn.btn-mini.btn-success(href='#') View Our Portfolio
          .span9
            ul.thumbnails
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_1.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') Awesome Building
                        p Digital Art | Illustration
                      .folio-zoom
                        a(href='images/portfolio/portfolio_1.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_2.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') Girl in the Forest
                        p Art Direction | Illustration
                      .folio-zoom
                        a(href='images/portfolio/portfolio_2.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_3.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') Girl in the House
                        p Digital Art | Photography
                      .folio-zoom
                        a(href='images/portfolio/portfolio_3.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_4.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') Lovely Deer
                        p Nature | Photography
                      .folio-zoom
                        a(href='images/portfolio/portfolio_4.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_5.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') Cute Girl
                        p Design | Creative
                      .folio-zoom
                        a(href='images/portfolio/portfolio_5.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
              li.span3
                .thumbnail
                  .portfolio-item
                    img(src='images/portfolio/portfolio_6.jpg', alt='')
                    .folio-body
                      .folio-info
                        h5
                          a(href='#') A Lonely Girl
                        p Photography | Art
                      .folio-zoom
                        a(href='images/portfolio/portfolio_6.jpg', rel='prettyPhoto[pp_gal]')
                          i.icon-plus
    //
       End portfolio 
    //
       Start clients 
    section.clients
      .container
        hr.divider-home
        .row
          .span3
            .section-overview
              h5
                span
                  i.icon-minus
                | Our Clients
              hr
              p
                | Etiam auctor tincidunt augue at pharetra. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae.
              a.btn.btn-mini.btn-success(href='#') View All Clients
          .span9
            .row
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_1.jpg')
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_2.jpg')
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_3.jpg')
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_4.jpg')
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_5.jpg')
              .span3
                .well
                  a(href='#')
                    img(src='images/partners/partner_6.jpg')
    //
       End clients 
    //
       Start footer 
    footer.footer
      .container
        .row
          .span3.about
            h5 About Us
            p
              | Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            dl
              dt Our Office:
              dd
                strong Rounde Inc.
                br
                | 795 Folsom Ave, Suite 600
                br
                | San Francisco, CA 94107
              dt Telephone:
              dd
                | +1 0198 432 4567
                br
                | +1 0198 432 4567
              dt E-mail:
              dd
                a(href='mailto:mail@domain.com') mail@domain.com
          .span3.recent-post
            h5 Recent Posts
            ul
              li
                .row
                  .span1
                    a(href='#')
                      img(src='images/round/magic-landscape.jpg', alt='')
                  .recent-body
                    a(href='#') Erat nisl faucibus justo verit et quasi architecto beatae.
                    br
                    em
                      small January 11, 2012 - 1:13 PM
              li
                .row
                  .span1
                    a(href='#')
                      img(src='images/round/shopping-high-heels.jpg', alt='')
                  .recent-body
                    a(href='#') Ut semper porttitor ipsum, et cursus erat volutpat vitae.
                    br
                    em
                      small January 12, 2012 - 1:13 PM
              li
                .row
                  .span1
                    a(href='#')
                      img(src='images/round/nettle-tea.jpg', alt='')
                  .recent-body
                    a(href='#') Mauris porttitor nisi sit amet felis porta congue.
                    br
                    em
                      small January 13, 2012 - 1:13 PM
          .span3.twitter-widget
            h5 Latest Tweets
            .tweet
          .span3.flickr-widget
            h5 Flickr Photos
            ul.flickr.thumbnails
    //
       End footer 
    //
       Start socket 
    section.socket
      .container
        .row
          .span6
            span © 2013 Rounde Inc. All rights reserved.
          .span6
            ul.social-links
              li Stay Connected
              li
                a(href='#')
                  i.icon-facebook
              li
                a(href='#')
                  i.icon-twitter
              li
                a(href='#')
                  i.icon-linkedin
              li
                a(href='#')
                  i.icon-pinterest
              li
                a(href='#')
                  i.icon-google-plus
    //
       End socket 
    //
       Le javascript
              ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='js/jquery-1.8.3.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.onecarousel.min.js')
    script(src='js/jquery.tweet.js')
    script(src='js/jflickrfeed.min.js')
    script(src='js/jquery.prettyPhoto.js')
    script(src='js/jquery.fitvids.js')
    script(src='js/jquery.isotope.min.js')
    script(type='text/javascript')
      $(document).ready(function () {
      $('#myCarousel').oneCarousel({
      easeIn: 'rotateIn',
      interval: 5000,
      pause: 'hover'
      });
      jQuery(function ($) {
      $(".tweet").tweet({
      join_text: "auto",
      username: "wrapbootstrap",
      avatar_size: 100,
      count: 2,
      auto_join_text_default: " we said, ",
      auto_join_text_ed: " we ",
      auto_join_text_ing: " we were ",
      auto_join_text_reply: " we replied ",
      auto_join_text_url: " we were checking out ",
      loading_text: "loading tweets..."
      });
      });
      $('.flickr').jflickrfeed({
      limit: 6,
      qstrings: {
      id: '44802888@N04'
      },
      itemTemplate:
      '<li class="span1">' +
      '<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a>' +
      '</li>'
      });
      var $menu_select = $("<select />");
      $("<option />", { "selected": "selected", "value": "", "text": "Site Navigation" }).appendTo($menu_select);
      $menu_select.appendTo(".header .navbar-inner");
      $(".header .navbar-inner ul li a").each(function () {
      var menu_url = $(this).attr("href");
      var menu_text = $(this).text();
      if ($(this).parents("li").length == 2) { menu_text = '- ' + menu_text; }
      if ($(this).parents("li").length == 3) { menu_text = "-- " + menu_text; }
      if ($(this).parents("li").length > 3) { menu_text = "--- " + menu_text; }
      $("<option />", { "value": menu_url, "text": menu_text }).appendTo($menu_select)
      });
      field_id = ".header .navbar-inner select";
      $(field_id).change(function () {
      value = $(this).attr('value');
      window.location = value;
      //go
      });
      // cache container
      var $container = $('.portfolio .thumbnails');
      var $filter = $('.portfolio-filter');
      // initialize isotope
      $container.isotope({
      // options...
      filter: '*'
      });
      // filter items when filter link is clicked
      $('#filters a').click(function () {
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
      });
      // update columnWidth on window resize
      $(window).smartresize(function () {
      $container.isotope('reLayout');
      });
      // Filter items when filter link is clicked
      $filter.find('a').click(function () {
      var selector = $(this).attr('data-filter');
      $filter.find('a').removeClass('selected');
      $(this).addClass('selected');
      });
      $("a[rel^='prettyPhoto']").prettyPhoto();
      });
