html
    head
      title Devnology - Community Driven Development
        include htmlheader
        block scripts
    body
      include contentheader
      block content
      include contentfooter
        #footer
          p some footer content
      