h1 Login
form(action='/login', method='post')
	label Username: 
		input(type='text', name='username')
	label Password:
		input(type='password', name='password')
	input(type='submit', value='Login')

p #{message}