html
    head
        include htmlheader
      block scripts
    body
      include contentheader
      block content
      include contentfooter
        #footer
          p some footer content
      