h1 Create event
form(action='/event', method='post')
  label Title: 
    input(type='text', name='event[title]', value=event.name)
  label Content:
    input(type='textarea', name='event[content]', value=event.content)
  input(type='submit', value='Update')