html
    head
      block scripts
        scripts(src='/jquery.js;)
    body
      include ../../../views/contentheader
      block content
      include ../../../views/contentfooter
        #footer
          p some footer content
      