html
    head
      title Devnology - events
      block scripts
        scripts(src='/lib/jquery/js/jquery-1.8.3.js')
        scripts(src='/lib/bootstrap/js/bootstrap.js')    
    body
      include ../../../views/contentheader
    
    section.events
      .container
        .row
          .span8
              block content
      
      include ../../../views/contentfooter
        #footer
          p some footer content