html
    head
      title Devnology - events
      include ../../../views/htmlheader

    body
      include ../../../views/contentheader
    
    section.events
      .container
        .row
          .span8
              block content
      
      include ../../../views/contentfooter
        #footer
          p some footer content